{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ASTOR - Account{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'vendors/normalize.css' %}">
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/sb-admin/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .messages {
            margin: 10px;
        }
    </style>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {% include 'astoraccount/navbar.html' %}
        <div id="page-wrapper">
            {% block content_premsg %}{% endblock %}
            {% include 'astoraccount/panels/messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'vendors/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'vendors/sb-admin/js/sb-admin-2.js' %}"></script>

    {% block scripts_body %}{% endblock %}
</body>

</html>