{% extends "astoraccount/base.html" %}
{% load static %}

{% block content %}
{{ super }}
<section>
    {% if not recent_edits %}
        <a href="{% url 'astoraccount:page_new' %}">Create Your First Page</a>
    {% else %}
        Your Recent Edits
        <ul id="id_recent_edits">
            {% for page in recent_edits %}
                <li><a href="{% url 'astoraccount:page_edit' page.id %}">
                    {{ page.title }}
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
<section>
    Your Recent Activities
    {% if user.activities.count > 0 %}
        <ul id="id_list_activities">
        {% for activity in user.activities.all %}
            <li>{{activity.message}} on {{activity.timestamp|date:'Y-m-d H:i'}}</li>
        {% endfor %}
        </ul>
    {% else %}
        No Activities.
    {% endif %}
</section>
{% endblock %}


