{% extends "astoraccount/base.html" %}

{% block title %}
{{ super }}
- Edit Page
{% endblock %}

{% block content %}
{{ super }}
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <button name="action_type" value="save_draft" type="submit">Save Draft</button>
            <button name="action_type" value="publish" type="submit">Save &amp; Publish</button>
        </form>
    {% endif %}
{% endblock %}