{% extends 'astormain/base.html' %}
{% load static %}

{% block styles %}
{{ super }}
<link rel="stylesheet" href="{% static 'astormain/css/comments.css' %}">
{% endblock %}

{% block content %}
{{ super }}
<div class="container">
    <div class="row">
        <iframe onload="iframeLoaded(this)" src="{{request.path}}/file" 
                scrolling="no" frameborder="0" style="width:100%">
        </iframe> 
    </div>

    {% include 'astormain/comments.html' %}
</div>
{% endblock %}

{% block scripts_body %}
{{ super }}
<script src="{% static 'astormain/js/comments.ajax.js' %}"></script> 
<script src="{% static 'astormain/js/comments.ui.js' %}"></script>
<script>
    function is_authenticated() {
        return {{request.user.is_authenticated|yesno:"true,false"}};
    }
    function iframeLoaded(iframe) {
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    }
</script>
{% endblock %}